<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Menu Inicial</title>
    <link href="img/favicon.ico" rel="icon">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="cabeçalho">
        <h1>Filipe Borsari</h1>
            <header>
                <nav>
                    <ul>
                        <l1><a href="#">Menu</a></l1>
                        <l1><a href="#">Projetos</a></l1>
                        <l1><a href="#">Contatos</a></l1>
                    </ul>
                </nav>
            </header>
    </div>
    <h1>Olá! Eu sou o Filipe ;) Fã de <span class="starwars">Star Wars</span> e Dev back-end </h1>

        <p1 class="corpo">Desenvolvedor Back-end com experiência em Python,<br> 
            Django e JavaScript. Apaixonado pelo universo TECH<br>
            e Formando em Análise e Desenvolvimento de Sistemas na FMU.
        </p1>
        <li><a href="#"> Acesse os meus Projetos</a></li>

            
        <div class="avatar">
            <img src="../../../static/images/avatar.png" alt="Boneco Estático">
        </div>

</body>
    
                  
</html>