<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="Contatos.css">
</head>


<body>
    <header>
        <div class="container-logo">
                <div class="Elipse"><!-- Feito no css--> </div>
                <div class="logo-imagem"><!--feito no css--></div>
                <div class="logo"><img src="../../../static/images/logo.png" alt="logo"></div>
>
                    
        </div><!-- Container Logo-->

        <div class="menu">
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="Projetos.html">Projetos</a></li>
                <li class="aba-ativa"><a href="Contatos.html">Contatos</a></li>
            </ul>
        </div><!--Opções de navegação -->
    </header>    


    <div class="container-central">
        <div class="content">
            <h1>Vamos <span class="conversar">Conversar ?</span></h1> 
            <h2>pode me encontrar em ...</h2>
            
            <div class="contatos">
                <ul>
                    <li>
                        <a href="#">
                            <img class="gitlogo" src="../../../static/images/github-logo.png"> 
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <img src="#" alt="Ícone do github">
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <img src="#" alt="icone do linkedin">
                        </a>
                    </li><!--Fecha listas-->
                    
                </ul> <!--Fecha div contatos-->
            </div>

        </div> <!--Fecha div central -->
        <h1> </h1>

    </div>
    

</body>
</html>