<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu inicial</title>
    <link rel="stylesheet" href="Home.css">
</head>


<body>
    <header>
        <div class="container-logo">
                <div class="Elipse"><!-- Feito no css--> </div>
                <div class="logo"><img src="../../../static/images/logo.png" alt="logo"></div>
                    
        </div><!-- Container Logo-->
        <div class="menu">
            <ul>
                <li class="aba-ativa"><a href="Home.html">Home</a></li>
                <li><a href="Projetos.html">Projetos</a></li>
                <li><a href="Contatos.html">Contatos</a></li>
            </ul>   
        </div><!--Botão Menu -->
    </header>  

<main>
    <div class="bio"> 
    <h1>Olá! Eu sou o Filipe ;)<br>
        Desenvolvedor <span class="StarWars">FullStack</span><br>
        Com Experiência Em<br> 
        <span class="typed">Dev back-end</span></h1>
    </div>
    <div class="bio-sub">
        <p>Desenvolvedor Back-end com experiência em<br>
            Python, Django e JavaScript. Apaixonado pelo<br> 
            universo TECH e Formando em Análise e<br>
            Desenvolvimento de Sistemas na FMU.</p>
    </div>
    <div class="portfolio"><a href="projetos.html">Acesse o Portfolio</a></div>
    <div class="avatar"><img src="../../../static/images/avatar.png" alt="Boneco Estático">
    


</main>


     <!--Importação do script para efeito de digitação-->
     <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

     <script>
         var typed = new Typed('.typed', {
             strings : ['Web Designer','Python','Django', 'SQL', 'JS'],
             typeSpeed : 150,
             backspeed : 50,
             loop: true
             
         })
 
     </script>

</body>
</html>