<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <link rel="stylesheet" href="tentativa1.css">
</head>


<body>
    <header>
        <div class="container-logo">
                <div class="Elipse"><!-- Feito no css--> </div>
                <div class="logo-imagem"><!--feito no css--></div>
                <div class="logo"><img src="../../../static/images/logo.png" alt="logo"></div>

                    
        </div><!-- Container Logo-->

        <div class="menu">
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li  class="aba-ativa"><a href="#">Projetos</a></li>
                <li><a href="Contatos.html">Contatos</a></li>
            </ul>
        
        </div><!--Botão Menu -->


    </header>    
</body>
</html>