*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background: linear-gradient(139deg, #121212 0%, #02164b 100%);
    background-size: 200% 200%; 
}

.Elipse{
        width: 500px;
        height: 504px;
        transform: rotate(-17.376deg);
        position: absolute;
        left: 0;
        border-radius: 4.304px;
        opacity: 0.8;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #fe7ad9 100%);
        filter: blur(200px);

}
.BlueElipse{
    width: 500px;
    height: 504px;
    transform: rotate(-17.376deg);
    position: absolute;
    right: 0;
    border-radius: 4.304px;
    opacity: 0.8;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #7a85fe 100%);
    filter: blur(200px);
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;

}



.container-logo{
    display: flex;
    align-items: center;

}




.menu li{
    display: inline-block;
    margin: 0px 10px
}

.menu li a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 10px 15px; /* aumentando area de contato*/

}

.menu li a:hover{
   background-color: grey;

}

.menu li.aba-ativa{
    text-decoration: underline #F9FAFB;
    text-decoration-thickness: 2px;

}

.bio{
    color: #F9FAFB;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 5% 0% 1% 10%;
    width: 70%;
    font-size: 25px;
    
}

.StarWars{
    background: linear-gradient(to right, yellow, red);
    -webkit-background-clip: text; /* Safari, Chrome e outros navegadores baseados em WebKit */
    -moz-background-clip: text; /* Firefox */
    background-clip: text;
    color: transparent; /* Torna o texto transparente */
}

.Dev{
    background: linear-gradient(to right, purple, pink);
    -webkit-background-clip: text; /* Safari, Chrome e outros navegadores baseados em WebKit */
    -moz-background-clip: text; /* Firefox */
    background-clip: text;
    color: transparent; /* Torna o texto transparente */
}

.bio-sub{
    color:#e5e7ebf3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin: 5% 0% 4% 10%;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    line-height: 29px;
    position: relative;
 
}

.portfolio a{
    height: fit-content;
    width: fit-content;
    color: black; 
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #E5E7EB;
    padding: 1%;
    margin-top: 20%;
    margin-left: 10%;
    border-radius: 1%;
}

.avatar{
    position: relative;
    left: 75%;
    transform: translateY(-85%); 
    display: flex;
    
    
    

    


}
